.logo1{
    width:40px;
    height:40px;
    border-radius:50%;
}
.iop11{
    width:35px;
    height:35px;
    border-radius: 50%;
}
@media only screen and (max-width:1100px){
    .button-meny{
        display:none;
    }
}
.glavn{
    width:95%;
    margin-left: auto;
    margin-right: auto;
}
.iop87{
    margin-left: auto;
    margin-right: auto;
    width:100%
   
}

.block91{
    max-width:600px;
    min-width:300px;
    
}
.iop56{
    width:35px;
    height:auto;


}

.content56{
    background-color:rgb(69, 69, 69);
    color:white;
}

.content57{
    background: linear-gradient(3deg, #6ca5e6, #f3f0f9);
}
.iop19{
    width:100%;
    background-color:red;
}